body {
  background: url("http://moheban-ahlebeit.com/images/Cafe-Backgrounds/Cafe-Backgrounds-19.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: #bdd09f;
  top: 0;
  left: 0;
}

header div {
  width: 980px;
  margin: 0 auto;
}
header div>* {
  display: inline-block;
}
header div img {
  height: 70px;
  width: 150px;
  background: white;
  border-radius: 500px
}

.nav_button {
  display: inline-block;
  font-size: 25px;
  margin-right: 70px;
  margin-top: 45px;
  font-family: 'Lobster', cursive;
}

.nav_button:hover {
  color: white;
  background: #FF8C69;
  border-radius: 10px;
  cursor: pointer;
}

main {
  width: 970px;
  height: 750px;
  margin: 30px auto;
  margin-top: 130px;
  background: rgba(1, 1, 1, 0.5);
}

main * {
  opacity: 0;
  transition: 2s all;
}

main * {
  opacity: 1;
}


h1 {
  font-size: 55px;
  text-align: center;
  color: white;
  font-family: 'Courgette', cursive;
}

.main_display {
  margin: auto;
}


.featured_content {
  width: 960px;
  height: 275px;
}

.featured_content div {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 425px;
  height:275px;
  margin-left: 30px;
}

.featured_content >:first-child {
  background: url("family.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  margin-bottom: 0px;
}

.featured_content>:last-child {
  margin-bottom: 5px;
  height: 240px;
}

.featured_content>:last-child p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  top: 0;
  z-index: 0;
  font-family: Georgia;
}

.gallery ul {
  margin: 0;
  padding: 0;
}

.gallery ul li {
  padding: 0;
  display: inline-block;
  width: 280px;
  height: 280px;
  background: white;
  margin-left: 30px;
  margin-top: 0px;
}

.gallery>ul>:first-child {
  background: url("shirt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery>ul>:last-child {
  background: url("cutter.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery>ul>:nth-child(2) {
  background: url("fish.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s all
}

.gallery>ul>:last-child:hover {
  background: url("frosted-cookie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.store_items li {
  position: relative;
}

.store_items li p {
  position: absolute;
  text-align: center;
  margin: 0px;
  height: 40px;
  font-size: 30px;
  background: rgba(1, 1, 1, 0.5);
  color: white;
  width: 100%;
  bottom: 0;
}

footer {
  margin: auto;
  padding: 0;
  width: 1200px;
  height: 200px;
  background: #4D4C33;
  opacity: 0.9;
}

.contact {
  margin: 0px:auto;
  padding: 0;
}

.contact>li {
  display: inline-block;
  height:200px;
  width: 300px;
  margin-left: 90px;
  color: #D8D09B;
}

.contact li h2 {
  font-size: 20px;
  text-align: center;
  font-family: serif;
}

.contact li ul {
  margin: 0;
  padding: 0;
}

.contact>li ul li {
  text-align: center;
}
